@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }  /*去掉边框、去掉轮廓（比如输入框外面的蓝边框）*/

/*去掉列表前面的圆点*/
ul, ol {
    list-style: none;
}
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}  /*字体一般是指定这两个*/
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*禁止文本输入框在右下角拖拽（因为拖动后会调整输入框大小）*/
img {border:0;	vertical-align:middle; }  /* 去掉图片底侧默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";  /*\5b8b\4f53指的是宋体*/
    color:#666;
    background:#fff
}

/*start:清除浮动【推荐此方式进行清除浮动】。左浮动和右浮动都清除了，盒子刚好达到闭合的状态*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}
/*end：清除浮动*/

a {color:#666; text-decoration:none; }  /*去掉超链接的下划线*/
a:hover{color:#C81623;} /*鼠标悬停时的颜色*/
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;} /*font-size:100% 的意思是：让它们和父亲一样大，避免在不同的浏览器中显示大小不一致*/
s,i,em{font-style:normal;text-decoration:none;}  /*去掉i标签和em的斜体，取消s标签的删除线*/
.col-red{color: #C81623!important;}

/*公共类*/
.w { /*版心（可视区）。需要专门提取出来 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

/*顶部导航start*/
.shortcut {
    height: 30px;
    line-height: 30px;
    background-color: rgb(238, 238, 238);
}

.dt,
.shortcut .fore {
    padding: 0 20px 0 10px;
    position: relative;
}

.dt i,
.fore i {
    font: 400 15px/15px "宋体";
    position: absolute;
    top: 13px;
    right: 3px;
    height: 7px;
    overflow: hidden;
    width: 15px;
}

.dt s,
.fore s {
    position: absolute;
    top: -8px;
    left: 0;
}

.fr li {
    float: left;
    padding: 0 10px;
}

.fr .line {
    width: 1px;
    height: 12px;
    background-color:white;
    margin-top: 9px;
    padding: 0;
}

.shortcut .tel-jd {
    padding: 0 20px 0 25px;
}

.tel {
    position: absolute;
    width: 15px;
    height: 20px;
    background: url(../images/sprite.png) no-repeat;
    left: 5px;
    top: 5px;
}
/*顶部导航end*/

/*topbanner start*/
.topbanner {
    background-color: #8A25C6;
}
.close-banner {
    position: absolute;
    right:0;
    top:5px;
    width: 19px;
    height: 19px;
    background: url(../images/close.png) no-repeat;
}
.close-banner:hover {
    background-position:bottom;
}
.tp{
    position: relative;
}
/*topbanner end*/

/* search部分start*/
.search-logo {
    float: left;
    width: 362px;
    height: 60px;
    padding: 20px 0;
}
.search-logo a {
    width: 270px;
    height: 60px;
    display: block;
    text-indent: -9999px;
    background: url(../images/logonew.png) no-repeat;
}
.search-input {
    float: left;
    height: 36px;
    padding-top: 25px;
}
.search-input input {
    float: left;
    width: 450px;
    height: 32px;
    padding-left: 4px;
    font: 400 14px/32px "microsoft yahei";
    color: rgb(153, 153, 153);
    border: 2px solid #B61D1D;
    border-right: 0;
}
.search-input button {
    width: 82px;
    height: 36px;
    color: #fff;
    float: left;
    font: 400 16px/36px "微软雅黑";
    background-color: #B61D1D;
    cursor: pointer;
    /*cursor: pointer;          变成小手*/
    /*cursor: text;             变成光标*/
    /*cursor: move;             变成四角箭头*/
    /*cursor: default;          变成小白*/
}
.search-car {
    float: right;
    width: 96px;
    height: 34px;
    line-height: 34px;
    padding-left: 43px;
    position: relative;
    margin: 25px 65px 0 0;
    border: 1px solid #DFDFDF;
    background-color: #F9F9F9;
}
.icon1 {
    position: absolute;
    top: 9px;
    left: 18px;
    width: 18px;
    height: 16px;
    background: url(../images/tel.png) no-repeat 0 -58px;
}
.icon2 {
    position: absolute;
    right: 10px;
    color: #999;
    /*font-family: "SimSun";*/
    font: 13px/34px "SimSun";
}
.icon3 {
    position: absolute;
    top: -5px;
    /*left: 0;*/
    width: 16px;
    height: 14px;
    background-color: #C81623;
    line-height: 14px;
    text-align: center;
    color: #fff;
    border-radius: 7px 7px 7px 0;  /*画圆角矩形*/
}
.search-moreAlink {
    float: left;
    width: 530px;
    height: 28px;
    line-height: 28px;
}
.search-moreAlink a {
    margin-right: 8px;
}
/*search部分end */

/*底部的口号 start*/
.slogen {
    height: 54px;
    padding: 20px 0;
    background-color: #f5f5f5;
    position: relative;
    margin-bottom: 15px;
}

.item {
    width: 302px;
    position: absolute;
    top: 20px;
    left: 50%;
}

.slogen1 {
    margin-left: -608px;
}

.slogen2 {
    margin-left: -304px;
}

.slogen3 {
    margin-left: 2px;
}

.slogen4 {
    margin-left: 304px;
}

/*底部的口号 end*/

/*购物指南等 start*/
.footer-shopping {
    margin-top: 16px;  /*和上方保持距离*/
}
.footer-shopping dl{
    float: left;
    width: 180px;
}
dl.last-dl {
    width: 180px;
}
.footer-shopping dt{
    height: 40px;
    font: 400 16px/34px "microsoft yahei";
}
.footer-shopping dd{
    line-height: 25px;
}
/*购物指南等 end*/

/*覆盖区域 start*/
.coverage {
    float: left;
    width: 186px;
    height: 169px;
    margin-right: 60px;
    padding-left: 17px;
    background: url(../images/china.png) no-repeat left bottom;
}

.coverage h3 {
    height: 34px;
    font: 400 16px/34px "microsoft yahei";
}

.coverage p {
    padding-top: 8px;
}
.coverage a {
    float: left;
}
/*覆盖区域 end*/

/*最底部start*/
.footer-bottom {
    margin-top: 20px;
    text-align: center;  /*让文字在容器中水平方向居中*/
    padding: 20px 0 30px;
    border-top: 1px solid #E5E5E5;
}

.footer-bottom .footer-about a{
    margin: 0 10px;
}

.footer-copyright {
    padding: 10px 0;
}

.footer-bottom-img a {
    margin: 0 5px;
}
/*最底部end*/

