<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <!-- 数据绑定 -->
    <span>{{ message }}</span> <br>
    <span v-bind:title="ads">鼠标悬停几秒钟查看此处动态绑定的提示信息！</span> <br>
    <a v-bind:href="home" target="_blank" title="惊喜">戳我有惊喜</a>
    <p v-if="seen">现在你看到我了</p>
    <a href="#" v-if="islogin">个人中心</a>
    <a href="#" v-else>登录</a>
    <ol>
        <li v-for="(todo, index) in todos">
            {{ todo.text }}--{{ index }}
        </li>
    </ol>
    <!-- VUE对象 -->
    <ul>
        <li v-for="item in items">
            {{ item.title }}~~~{{ item.author }}~~~{{ item.publishedAt }}
        </li>
    </ul>
    <button v-on:click="addnum(counter)">Add {{ counter }}</button>
    <p>The button above has been clicked {{ counter }} times.</p>
</div>
</body>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            ads: '页面加载于 ' + new Date().toLocaleString(),
            home: 'http://www.baidu.com/',
            seen: true,
            islogin: false,
            todos: [
                {text: '学习 JavaScript'},
                {text: '学习 Vue'},
                {text: '整个牛X项目'}
            ],
            items: [
                {
                    title: 'Vue',
                    author: 'Jane Doe',
                    publishedAt: '2016-04-10'
                },
                {
                    title: 'python',
                    author: 'Ricky',
                    publishedAt: '2019-04-10'
                },
                {
                    title: 'itcast',
                    author: 'itcast',
                    publishedAt: '2006-05-08'
                }
            ],
            counter: 1,
        },
        methods: {
            addnum: function (num) {
                this.counter = num + this.counter
                alert(this.counter)
            }
        }
    })
</script>
</html>